<form method="POST" action="addEntry.php" role="form">
    <div class="form-group">
        <label for="entryTitle">Title:</label>
        <input type="text" class="form-control" name="entryTitle" id="entryTitle" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label for="entryText">Text:</label>
        <textarea style="resize: vertical" class="form-control" name="entryText" id="entryText"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="reset" class="btn">Reset</button>
</form>
