        </div>
        <div id="footer">
            <div class="container">
                <p class="footer-text"><b>Blog.</b></p>&nbsp;<p class="footer-text text-muted">A WIP and ultra-lite blogging engine by <a href="http://www.elliotiddon.co.uk">Elliot Iddon</a>.</p>
            </div>
        </div>
        <script src="dist/js/jquery-2.1.0.min.js"></script>
        <script src="dist/js/scrollable.js"></script>
        <script src="dist/js/bootstrap.min.js"></script> 
    </body>
</html>
