<form method="POST" action="addEntry.php" role="form">
    <div class="form-group">
        <label for="email">email:</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="youremail@example.com">
    </div>
    <div class="form-group">
        <label for="password">password:</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="reset" class="btn">Reset</button>
</form>
