<form method="POST" action="search.php" role="form">
    <div class="form-group">
        <label for="search">Search:</label>
        <input type="text" class="form-control" name="search" id="search" placeholder="Search">
    </div>
</form>
